
body{
    font-family: helvetica,arial,sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: Merriweather,georgia,serif;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1.5rem;
}
.nav__menu > li{
    display:inline-block;
    margin-top:0;
    color:grey;
    margin-right:1rem;
}
.title{
    display:flex;
    align-items:center;
    flex-shrink: 0;
    color:black;
    margin-right:1.6rem;
}
main{
    display:flex;
    width:100%;
    margin:0 auto;
}
.content {
    width: 70%;
}

.sidebar {
    width: 30%;
}
.content__grid{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
}
.content__grid__item{
    width:32%;
    margin-bottom:1rem;
    padding:0 .25rem;
    height:100%;
}
.content__grid__item > img{
    width:100%;
    height:6rem;
}
.content__grid__item > h3{
    display:inline-block;
    color: #323232;
}
.content__grid__item__inner > h3{
    color:#323232   ;
}
.content__grid__item__inner > p{
    color:#8E8E8E;
}
.content__grid__item__inner{
    padding: 1rem 0;
}
@media only screen and (max-width: 600px) {
    main{
        flex-direction: column;
        flex-wrap:wrap;
    }
    .content {
        width: 100%;
    }
    
    .sidebar {
        width: 100%;
    }
    .nav__menu{
        display:block;
    }
    .nav__menu > li{
        display:block;
        margin-top:1rem;
    }
}