@import url("https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css");
.content {
    width: 70%;
}

.sidebar {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    main{
        flex-direction: column;
        flex-wrap:wrap;
    }
    .content {
        width: 100%;
    }
    
    .sidebar {
        width: 100%;
    }
}